* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightsalmon;
}

.nav__link {
    color: black;
    text-decoration: none;
}

.card {
    text-decoration: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    background-color: lightcoral;
    color: white;
    padding: 30px;
}

.search {
    background-color: white;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 50px;
}

.search::placeholder {
    color: black;
}


.hero {
    width: 100%;
    height: 300px;

    display: grid;
    place-items: center;

    font-size: 30px;
    font-weight: bold;
    color: black;
}

.movie {
    width: 200px;
    margin: 0.5rem;
    padding: 5px;
    border: 3px;
    border-radius: 20px;
    background-color: coral;
    position: relative;
    overflow: hidden;
}

.movie img {
    border-radius: 20px;
    width: 100%;
}

.movie-info {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
    padding-inline-end: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h2 {
    margin-top: 0;
}

.movie-info span {
    background-color: white;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}

.movie-info span.green {
    color: green;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: lightcoral;
    border-radius: 20px 20px 0px 0px;
    color: black;
    text-align: center;
    padding: 50px;
}

.pagination {
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: white;
}

.page {
    padding: 20px;
    cursor: pointer;
}

.page.disabled {
    cursor: not-allowed;
    color: grey;

}

.current {
    padding: 5px;
    border-radius: 50px;
    border: 2px solid white;
}

.details {
    background-color: lightcoral;
    border-radius: 20px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 73px;
    padding-right: 73px;
    border: none;
}

.details:hover {
    background-color: lightsalmon;
    border-radius: 20px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 73px;
    padding-right: 73px;
    border: none;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay h1 {
    padding: 8px;
    text-decoration: none;
    color: cyan;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

.overlay img {

    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

.overlay p {

    text-decoration: none;

    color: white;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

.overlay .release {
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: cyan;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

.overlay .tagline {
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: cyan;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}